
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.google.com/specimen/Abril+Fatface?query=abril&sidebar.open&selection.family=Abril+Fatface');
*{
    font-family: 'Montserrat';
}

body {
    margin: 0 auto;
    
}
/* tete de page */

header.header {
    display: flex;
    align-items: center;
    background-color:darkolivegreen
}

header.header img{
    width: 150px;
}

section.top-page{
    background:url("../images/bg.jpg");
   background-size: cover;
    height: 80vh;
    padding: 25px;
}

/* page de bienvenue (landing page) */

.landing-page {
    padding: 20px 50px
}

.big-tittle {
    color: floralwhite;
    font-size: 80px;
    font-family: 'Abril fatFace',;
    font-weight: 600;
}

.scroll-down {
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: absolute;
    bottom: 160px;
}


/* menu de navigation */

nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    margin-left: 30px;
}

nav.nav li{
    color:rgb(255, 255, 255)
}

/* services */

.services {
   display: flex;
   justify-content: space-between;
   margin: 50px;
}

.service-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.delivery-icon {
    font-size: 50px;
    color:#ADD981;

}

.service-details {
   font-weight: 600; 
   width: 200px;
   text-align: center;
}

/* best sells */

.section-title {
    font-size: 50px;
    font-family:'Abril FatFace',;
    font-weight: 600;
    position: relative;
}

.section-title::before {
    content: "";
    position: absolute;
    background-color: #ADD981;
    width: 50px;
    height: 7px;
    bottom: 0;
}

.bests-items {
    margin: 50px;
}


.best-bluds {
    background-color: crimson;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.plant-box {
    position: relative;
    background-size: cover;
    background-position: center;
}

.no-grid {
    min-width: 350px;
    height: 500px;
    flex: 1;
}

.plant1 {
    background-image: url(../images/nos_meilleures_ventes/sillykittycode4.jpg);
}

.plant2 {
    background-image: url(../images/nos_meilleures_ventes/blud2.jpg);
}
.plant3 {
    background-image: url(../images/nos_meilleures_ventes/kitten.jfif);
}
.plant4 {
    background-image: url(../images/nos_meilleures_ventes/miguel.jpg);
}

.plant-details {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #FFFFFFDF;
    padding: 5px 20px;
}


.plant-name {
    font-size: 22px;
    font-weight: 600;
    line-height: 3px;

}

.plant-price {
    color: #ADD981;
    line-height: 3px;
    font-size: 14px;
    font-weight: 800;
}

/* nos bluds */

.all-plants {
    margin: 100px;
}

.plant-grid {
    display: grid;
    min-height: 150vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 400px);
}

.plant-grid1 {
    background-image: url(../images/nos_plantes/B1.jfif);
    grid-column: 1/3;
    grid-row: 1/3;
}

.plant-grid2 {
    background-image: url(../images/nos_plantes/S2.png);
    grid-column: 3/5;
}

.plant-grid3 {
    background-image: url(../images/nos_plantes/T3.jpg);
    grid-column: 3/5;
}

.plant-grid4 {
    background-image: url(../images/nos_plantes/Y4.gif);
    grid-column: 1;
    grid-row: 3/5;
}

.plant-grid5 {
    background-image: url(../images/nos_plantes/O5.jpg);
    grid-column: 2/4;
    grid-row: 3/5;
}

.plant-grid6 {
    background-image: url(../images/nos_plantes/J6.jfif);
    grid-column: 4;
    grid-row: 3/5;
}


/* pied de page */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    font-weight: 600;
}

footer a.cgv {
    text-decoration: none;
    color: black;
}